/* bordo e divisione per celle ++*/
table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}
td, th {
    padding: 0.25em 0.5em;
}

/*bg color coral */
thead{
    background-color: coral;
}

/* i dati alternati gialli e verdi e id rosso*/
tbody tr:nth-child(even){
    background-color: yellow;
}
tbody tr:nth-child(odd){
    background-color: greenyellow;
}

