body{
    background-color: grey;
}
table {
    display: grid;
    justify-content: center;
    align-items:end;
    border: .25rem;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    width: fit-content;
    padding: .5rem;
    margin: 5rem auto;
    background-color: aliceblue;
    
}

thead {
    color: blue;
}
thead tr th::first-letter {
    text-transform: capitalize;
}
